<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
import { select } from "d3-selection";



  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load data
 
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
  </g>
</svg>
<div>
  </div>
 
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>

]
