<div>
  <header>
    <h1  style="font-size:60px">Section x </h1>
    <h2  style="font-size:50px">Section x</h2>
    <h3  style="font-size:40px">Section x</h3>
    <h4  style="font-size:30px">Section x</h4>
    <h5  style="font-size:20px">Section x</h5>
    <h6  style="font-size:10px">Section x</h6>
  </header>
  <!--  -->
</div>
