<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class:active="{current=='messi'}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class:active="{current=='ronaldo'}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:active="{current=='neymar'}" on:click={() => (current = "neymar")}>
  Neymar
</button>
<style>
  button {
		display: block;
	}
  .active {
		background-color: #ff3e00;
		color: white;
	}
  </style>
