<script>
    const name="Siwen Liu";
    const favourite=["kitten", "flowers"];
    const list={name,favourite};
</script>
<p>My name is {list.name} and and these are some of my favourite things:{list.favourite}.</p> 