<script>
    let radius=7;
    function function_1(radius){return Math.round(Math.PI * (2 * radius)).toFixed(2);}
    let x=function_1(7)
 
</script>
<p>The circumference of a circle with radius {radius}m is {x}m .</p>