<script>
  // Properties
  const continents = ["europe", "asia", "americas", "africa"];
  export let workyear = 1800;
  export let workcontinent="all";
  let stop=true;
  let click = null;

  //button
  function loop() {
    stop =false;
    click =  setInterval(() => {
      const range = workyear + 1;
      if (range <= 2014) {
     workyear = range;
      } 
      else {
       workyear = 1800;
      }
    }, 100);
  }
  function clearloop(){
    stop=true;
    clearInterval(click);
  }
  
  //slider 
  $:add_value=workyear

</script>


<div class="row">
{#if stop}
<button on:click={loop}  class="button1">Start</button>
{:else}
<button on:click={clearloop}  class="button2">Stop</button>
{/if}
<button on:click="{() => workyear = 1800}" class="button3"> Reset</button>

      Year:{workyear}
    <input type="range" min="1800" max="2014" bind:value={workyear} />

    <select class="select"  bind:value={workcontinent}>
      <option> ---all--- </option>
      <option> europe </option>
      <option> asia </option>
      <option> americas </option>
      <option> africa </option>
      </select>
    </div>

