<script>
    	let count = 0;

function handleClick(event) {
    count += 1;
}
</script>

<style>
.button1 {background-color: #008CBA;} 
.button2 {background-color: rgb(186, 0, 0);}
    </style>


<button on:click={handleClick}  class="button1">
Clicked {count} times
</button>
<button on:click="{() => count = 0}" class="button2">
Reset
</button>
