<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });



  let workyear = 1800;
  let workcontinent="all";
  let scatterPlotData = null;
  let selectcont;

  function selecteddata (data, workcontinent, workyear) { 
     const selectyear = data.filter(d => d.year == workyear);
    if (workcontinent == 'all') {
    selectcont  = selectyear[0]['countries'];
  } 
  else {
    selectcont = selectyear[0]['countries'].filter(d => d.continent == workcontinent);
  };
 return selectcont ;
}
</script>


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={selecteddata(data, workcontinent, workyear)} />
    <Controls bind:workyear={workyear}/>
    <Controls bind:workcontinent={workcontinent}/>
    <Controls data={data}/>
  </div>
{/if}
