<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import {scaleLinear, scaleOrdinal, scaleLog,scaleSqrt} from 'd3-scale';
  import {schemeAccent} from 'd3-scale-chromatic'
  import {axisLeft, axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';

const scaleX = scaleLinear().domain([0,6000]).range([margin.left,innerWidth]);
const scaleY = scaleLinear().domain([0,90]).range([innerHeight, 0]);
const color = scaleOrdinal(schemeAccent).domain(["Asia", "Africa" , "Europe", "Oceania" , "Americas"]);
const radius = scaleLog().domain([1,6000]).range([1,4])

let action=function(){
		return x_axis(select("#bottom"));
	}
  let y_axis=axisLeft(scaleY)
  let se=function(){
    return y_axis(select("#left"));
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <text transform="translate(300,200)">Loading data</text>

  </g>

 

 

</svg>


