<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
	
import {select} from 'd3-selection';
	
 import {scaleLog } from 'd3-scale';
 const scaleX=scaleLog().domain([1,10]).range([10,800])

import {axisBottom} from 'd3-axis';
	let x_axis=axisBottom(scaleX)
	
	let action=function(){
		return x_axis(select("#box"));
	}
</script>
<style>
  circle{fill:skyblue}
</style>
<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <circle cx={scaleX(value)}
    cy={innerHeight/2}
    r=10/>
    {/each}
  </g>
	<g id="box" use:action transform="translate(10,70)"></g>
  <text x="395" y="100">x_axis</text>
</svg>
