<script>
  import { scaleLinear} from 'd3-scale';
  import { scaleOrdinal} from 'd3-scale';
  import { schemeCategory10 } from 'd3-scale-chromatic';
  import { extent} from 'd3-array';
       
// Dimensions
 const width = 800;
 const height = 100;
 const margin = { top: 20, right: 5, bottom: 5, left: 5 };
 const innerWidth = width - margin.left - margin.right;
 const innerHeight = height - margin.top - margin.bottom;

 // Array
 const values = [
   { x: 2, y: 1, category: "cat1" },
   { x: 4, y: 2, category: "cat3" },
   { x: 6, y: 1, category: "cat2" },
   { x: 7, y: 3, category: "cat3" },
   { x: 9, y: 1, category: "cat2" }
 ];
 const mycolor= extent(values);
 //scale
 const scaleX= scaleLinear().domain([0,10]).range([0,innerWidth]);
 const scaleY= scaleLinear().domain([0,5]).range([innerHeight,0]);
 const scalecolor= scaleOrdinal().domain(mycolor).range(schemeCategory10);
</script>

<svg viewBox="0 0 {width} {height}">
 <g transform="translate({margin.left},{margin.top})">
   {#each values as value}
   <line x1={scaleX(value.x)} y1={scaleY(value.y)}  x2={scaleX(value.x)} y2={innerHeight} stroke="black"></line> 
   <circle cx= {scaleX(value.x)} cy={scaleY(value.y)} r= 5 style={"fill:" +scalecolor(value.category)}/>
   <text x={scaleX(value.x)} y={scaleY(value.y)-10}>{value.y}</text>
   {/each}
   <line x1=0 y1={innerHeight} x2={innerWidth} y2={innerHeight} stroke="black"></line> 
 </g>
</svg>

<style>
 text {
   text-anchor: middle;
   font-size: small;
 }
</style>
