<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  import {scaleLinear, scaleBand} from 'd3-scale';
	import {axisBottom, axisLeft} from 'd3-axis';
	import {select} from 'd3-selection';

  const scaleX=scaleBand().domain(['Netflix','Amazon Prime Video','Disney+','Hulu','Apple TV','Rakuten']).range([0,innerWidth]);
  const scaleY=scaleLinear().domain([0,5]).range([innerHeight,0]);
  let x_axis=axisBottom(scaleX)
  let action=function(){
		return x_axis(select("#bottom"));
	}
  let y_axis=axisLeft(scaleY)
  let se=function(){
    return y_axis(select("#left"));
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
    <rect x={scaleX(d.service)} y={scaleY(d.viewers)} width= 70 
    height={innerHeight-scaleY(d.viewers)}/>
    {/each}
  </g>
  <g id="bottom" use:action transform="translate({margin.left},{margin.top+innerHeight})"></g>
  <g id="left" use:se transform="translate({margin.left},{margin.top})"></g>
  <text font-size =10 transform="translate({margin.left-40},{innerHeight/1.5}) rotate(270)">Viewers(Million)</text>
</svg>
<style>
  rect{
    fill:skyblue
  }
</style>